<p>
    Kilka dni temu witaliśmy nowy rok 2022, a dzisiaj przygotowuję się do opublikowania pełnego rewrite strony domowej staregopc, wraz z nowym (wciąż słabym, ale już znośnym) systemem do pisania blogów i update'ów. No więc, wypadałoby coś napisać dla testu.
</p>

<p>
    Moim planem było przede wszystkim wizualne ulepszenie tej strony. Chyba mi wyszło - przynajmniej moim zdaniem wygląda lepiej niż wcześniej, zarówno na komputerach, jak i na smartfonach. Jako akcenty wybrałem zielony, który bardzo mi się podoba (<span style="color: #1fc727;">#1fc727</span>), oraz pomarańczowy, który też jest całkiem w porządku, ale może się jeszcze zmienić (<span style="color: #ffa63a">#fca235</span>).
</p>

<p>
    Backend jest od teraz zrobiony w Ruście, a konkretniej w <a href="https://rocket.rs/" target="_blank">Rocket.rs</a>, zamiast w PHP. Jest bardzo prosty i przynajmniej utrzymywalny, w przeciwieństwie do starego.
</p>

<p>
    Nie wszystko jest jeszcze całkiem gotowe. Mam jeszcze trochę do zrobienia, między innymi:

    <ul>
        <li>Możliwość przeglądania strony w języku angielskim</li>
        <li>Feed RSS do tego bloga</li>
        <li>Light theme...? (Nie wiem, ludzie lubią różne dziwne rzeczy ;)</li>
        <li>Umieszczenie gdzieś loga staregopc tak, aby nie przeszkadzało, tylko ładnie wyglądało</li>
    </ul>
</p>

<p>
    I tak, stworzyłem <i>prawdziwe</i> (prawdziwe, czyli to nie spikselizowane zdjęcie) logo dla staregopc. Nie jest to nic specjalnego, ale mi się podoba.
</p>

<img src="/img/starypc.png" alt="Logo staregopc">

<p>
    (Jest też mniejsza wersja, którą można zobaczyć w favikonie).
</p>

<p>
    Miałem propozycję, żeby zmienić font na stronie na co innego niż JetBrains Mono (generalnie coś nie-monospace), ale nie jestem tego pewien. Jest on schludny i chyba pasuje do tego stylu strony.
</p>

<p>
    W przyszłości planuję zrobić własny (prosty) system CMS i przerzucić na niego tę stronę oraz <a href="https://grzesiek11.stary.pc.pl" target="_blank">moją prywatną stronę</a>, którą obecnie też odświeżam, zarówno pod względem wizualnym, jak i zawartej treści.
</p>

<p>
    To by było na tyle. Możecie podzielić się swoimi spostrzeżeniami (mailowo, albo jakkolwiek), a także zgłaszać błędy i propozycje <a href="https://gitlab.com/starypc/website/issues" target="_blank">na GitLabie</a>.
</p>