<p>
    Właśnie dodałem feed Atoma do tego bloga. Nie jest to nic trudnego do zrobienia, ale mnie cieszy.
</p>

<p>
    Jeśli ktoś jeszcze używa takich starożytnych technologii jak czytniki RSS, to proszę bardzo, można subskrybować :) Ten post to głównie test, czy wszystko działa, jak należy (testowałem offline, ale nigdy nic nie wiadomo).
</p>
