@font-face {
    font-family: 'JetBrains Mono';
    src: local('JetBrains Mono Regular'), url('jetbrains_mono.ttf');
    font-display: swap;
}

@font-face {
    font-family: 'Noto Sans Symbols';
    src: local('Noto Sans Symbols Regular'), url('noto_sans_symbols.ttf');
    font-display: swap;
}

:root {
    color-scheme: dark;
}

body {
    background-color: #000000;
    overflow-y: scroll;
    margin: 0;
}

#body-container {
    color: #fbfbfb;
    font-family: 'JetBrains Mono', monospace, 'Noto Sans Symbols';
    width: 75%;
    margin: 10px auto 10px auto;
    padding: 0;
}

header, nav, footer {
    text-align: center;
}

a:link, a:visited {
    color: #fca235;
}

a:hover {
    color: #ee8400;
}

h1, h2, h3, h4, h5, h6 {
    color: #1fc727;
}

h1 {
    margin-block-start: 0;
}

.star {
    color: gold;
}

code {
    font-family: 'JetBrains Mono', monospace;
    color: #afafaf;
}

code pre {
    font-size: 10pt;
    white-space: pre-wrap;
}

@media screen and (max-width: 900px) {
    #body-container {
        width: calc(100% - 20px);
    }
}
